<div style="min-height: 73vh;">
	<form action="#" method="POST" class="col-md-6 col-12 mx-auto p-5 border mt-4 shadow rounded">
		<h4 class="fw-bold">Login</h4>
		<label class="mt-4 form-label">Username or email</label>
		<input value="{{ username }}" required type="text" name="username" class="form-control mb-3">

		<label class="form-label">Password</label>
		<input value="{{ password }}" required type="password" name="password" class="form-control">

		<button class="btn btn-dark mt-3">Login</button>
	</form>

</div>
